
        body {
            margin: 0;
            padding: 0;
            background-color: #ADD8E6; /* Set your desired background color */
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            text-align: center;
            width: 50%;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            background-color: #4caf50;
            color: #ADD8E6;
            padding: 20px 15px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }

        form {
            font-size: X-LARGE;
        }
