
        .container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-container {
            width: 400px;
            padding: 20px;
            border: 2px solid #4caf50;
            border-radius: 10px;
            background-color: #D3D3D3;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          
        }

        .form-heading {
            margin-bottom: 20px;
            text-align: center;
            font-weight: bold;
            color: red;
        }

        .form-group label {
            font-weight: bold;
            color: #000;
        }

        .form-check-label {
            font-weight: bold;
            color: #000;
        }

        .btn-submit {
            background-color: #4caf50;
            color: #ADD8E6;
            border: none;
            border-radius: 10px;
            padding: 10px 20px;
            cursor: pointer;
            font-weight: bold;
        }

        .btn-back {
            color: #4caf50;
            font-weight: bold;
            text-decoration: underline;
            cursor: pointer;
        }

        .btn-submit:hover, .btn-back:hover {
            opacity: 0.8;
        }
   